<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// phpcs:disable Magento2.Templates.ThisInTemplate
// phpcs:disable Generic.Files.LineLength.TooLong

/** @var \Magento\Contact\Block\ContactForm $block */
/** @var \Magento\Contact\ViewModel\UserDataProvider $viewModel */

$viewModel = $block->getViewModel();
?>
<div>
    <h1 class="page-title"><br></h1>
</div>
<div class="cs-container cs-container--headline">
    <div class="cs-container__inner">
        <div class="cs-headline">
            <h2 class="cs-headline__title"><?= __('Contact Us') ?></h2>
            <!--p class="cs-headline__subtitle"><?= __('Contact Us') ?></p-->
        </div>
    </div>
</div>

<div class="block block-contact-info">
    <div class="block-content">
        <div class="box">
            <?= $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('contact-us')->toHtml() ?>
        </div>
        <div class="box">
            <form class="form contact"
                  style="width: 100% !important;"
                  action="<?= $block->escapeUrl($block->getFormAction()) ?>"
                  id="contact-form"
                  method="post"
                  data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>"
                  data-mage-init='{"validation":{}}'>
                <fieldset class="fieldset">
                    <legend class="legend"><span><?= $block->escapeHtml(__('Write Us')) ?></span></legend>
                    <div class="field note no-label">
                        <?= $block->escapeHtml(__('Jot us a note and we’ll get back to you as quickly as possible.')) ?>
                    </div>
                    <div class="field name required">
                        <label class="label" for="name"><span><?= $block->escapeHtml(__('Name')) ?></span></label>
                        <div class="control">
                            <input name="name"
                                   id="name"
                                   title="<?= $block->escapeHtmlAttr(__('Name')) ?>"
                                   value="<?= $block->escapeHtmlAttr($viewModel->getUserName()) ?>"
                                   class="input-text"
                                   type="text"
                                   data-validate="{required:true}"/>
                        </div>
                    </div>
                    <div class="field email required">
                        <label class="label" for="email"><span><?= $block->escapeHtml(__('Email')) ?></span></label>
                        <div class="control">
                            <input name="email"
                                   id="email"
                                   title="<?= $block->escapeHtmlAttr(__('Email')) ?>"
                                   value="<?= $block->escapeHtmlAttr($viewModel->getUserEmail()) ?>"
                                   class="input-text"
                                   type="email"
                                   data-validate="{required:true, 'validate-email':true}"/>
                        </div>
                    </div>
                    <div class="field telephone">
                        <label class="label" for="telephone"><span><?= $block->escapeHtml(__('Phone Number')) ?></span></label>
                        <div class="control">
                            <input name="telephone"
                                   id="telephone"
                                   title="<?= $block->escapeHtmlAttr(__('Phone Number')) ?>"
                                   value="<?= $block->escapeHtmlAttr($viewModel->getUserTelephone()) ?>"
                                   class="input-text"
                                   type="tel" />
                        </div>
                    </div>
                    <div class="field comment required">
                        <label class="label" for="comment">
                            <span><?= $block->escapeHtml(__('What’s on your mind?')) ?></span>
                        </label>
                        <div class="control">
                <textarea name="comment"
                          id="comment"
                          title="<?= $block->escapeHtmlAttr(__('What’s on your mind?')) ?>"
                          class="input-text"
                          cols="5"
                          rows="3"
                          data-validate="{required:true}"><?= $block->escapeHtml($viewModel->getUserComment()) ?>
                </textarea>
                        </div>
                    </div>
                    <?= $block->getChildHtml('form.additional.info') ?>
                    <div class="field data-processing">
                        <div class="control">
                            <input name="data-processing"
                                   id="data-processing"
                                   type="checkbox"
                                   data-validate="{required:true}" />
                            <label class="label" for="data-processing">
                                <span><?= $block->getLayout()->createBlock(\Magento\Cms\Block\Block::class)->setBlockId('data-processing-contact-form-label-txt')->toHtml(); ?></span>
                            </label>
                        </div>
                    </div>
                </fieldset>
                <div class="actions-toolbar">
                    <div class="primary">
                        <input type="hidden" name="hideit" id="hideit" value="" />
                        <button type="submit" title="<?= $block->escapeHtmlAttr(__('Submit')) ?>" class="action submit primary">
                            <span><?= $block->escapeHtml(__('Submit')) ?></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1274.4858296415173!2d19.186575517433074!3d50.292456896540315!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4716db6cb2d57f4b%3A0xea7cf3a2a1d46d4b!2sAGREKOM%20-%20agregaty%20tynkarskie%2C%20agregaty%20malarskie%2C%20bielarki%2C%20kompresory%2C%20pianownice!5e0!3m2!1spl!2spl!4v1621506741503!5m2!1spl!2spl"
        height="500" style="border:0; width: 100%;" allowfullscreen="" loading="lazy"></iframe>
<style>
    .page-title-wrapper {
        display: none;
    }
    .rodo input,
    .data-processing input {
        margin-left: 0;
    }
</style>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Customer/js/block-submit-on-send": {
                "formId": "contact-form"
            }
        }
    }
</script>
